<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5 mt-4">
      <form class="input-group" (ngSubmit)="searchBooks()">
        <input type="text" class="form-control" placeholder="Search for books..." [(ngModel)]="searchQuery" name="searchQuery">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-3 col-md-6 mb-4 cursor" *ngFor="let book of books">
      <ng-container *ngIf="book.volumeInfo.title || book.volumeInfo.authors">
        <div class="card shadow book-card" (click)="openBook(book.id); $event.preventDefault()">
          <img class="card-img-top" [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Book Thumbnail" width="220" height="380">
          <div class="card-body">
            <h5 class="card-title">{{ (book.volumeInfo.title.length > 50) ? (book.volumeInfo.title | slice:0:50) + '...' : book.volumeInfo.title || 'Title Not Available' }}</h5>
            <p class="card-text text-muted small">By: {{book.volumeInfo.authors?.join(', ') || 'Unknown Author'}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
